<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%set string category_title=get_category_title(category_id,"NEWS")%>
<title>{category_title} - {config.webename}</title>

<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
<link href="<%templateskin%>/css/commen.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<%templateskin%>/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/Html5.js"></script>
</head>
<body>
<!--抬头开始-->
<%template src="_eheader.html"%>
        <div class="nmain clearfix">
        	<div class="naside float_l"><h5>PRODUCT</h5></div>
            <div class="nmainbox float_r"><small>Position：<a href="<%linkurl("eindex")%>">HOME</a> - NEWS</small></div>
        </div>
    </div>
    <!--大图结束-->
    <div class="clear"></div>
    <div id="nmainbody" class="clearfix">
    	<!--产品分类-->
    	<%template src="_left.html"%>
        <div class="mainbox float_r">
        	<div class="mainbox_2a">
                    <ul class="clearfix">
                       <%set DataTable news_list = get_article_list("enews", category_id, page, "status=0", out totalcount, out pagelist, "news_list", category_id, "__id__")%><%foreach(DataRow dr in news_list.Rows)%>
  <li class="clearfix"><a class="float_l" href="<%linkurl("enews_show",{dr[id]})%>">&gt;&gt; {dr[title]}</a><span class="float_r">[<%datetostr({dr[add_time]},yyyy-MM-dd)%>]</span></li>
<%/foreach%>
                      
                    </ul>
                </div>
            <div class="clear"></div>
            <!--分页-->
            <div class="sh_page text_c">
          {pagelist}
            </div>
        </div>
    </div>
</section>
<!--主体结束-->
<!--产品展示-->

<div class="clear"></div>
<!--底部-->
<%template src="_foot.html"%>
<!--底部结束-->
<!--ui:jxq/style:cyy/code:xcx-->
</body>
</html>