
<script src="js/jquery.quicksand.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/jxPhoto.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<link href="css/jxPhoto.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrapper">
  <div class="portfolio-content">
    <ul class="portfolio-area">
      <li class="portfolio-item2" data-id="id-0" data-type="cat-item-1">
        <div> <span class="image-block"> <a class="image-zoom" href="images/big/b1.jpg" rel="prettyPhoto[gallery]" title="b1"><img width="225" height="140" src="images/thumbs/1.jpg" alt="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" title="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" /> </a> </span>
          <div class="home-portfolio-text">
            <h2 class="post-title-portfolio"><a href="#" rel="bookmark" title="产品展示">产品展示</a></h2>
            <p class="post-subtitle-portfolio">produt</p>
          </div>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
        <div> <span class="image-block"> <a class="image-zoom" href="images/big/b2.jpg" rel="prettyPhoto[gallery]" title="b2"><img width="225" height="140" src="images/thumbs/2.jpg" alt="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" title="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" /> </a> </span>
          <div class="home-portfolio-text">
            <h2 class="post-title-portfolio"><a href="#" rel="bookmark" title="产品展示">产品展示</a></h2>
            <p class="post-subtitle-portfolio">produt</p>
          </div>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-2" data-type="cat-item-2">
        <div> <span class="image-block"> <a class="image-zoom" href="images/big/b3.jpg" rel="prettyPhoto[gallery]" title="产品展示"><img width="225" height="140" src="images/thumbs/3.jpg" alt="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" title="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" /> </a> </span>
          <div class="home-portfolio-text">
            <h2 class="post-title-portfolio"><a href="javascript:" rel="bookmark"  title="产品展示">产品展示</a></h2>
            <p class="post-subtitle-portfolio">product</p>
          </div>
        </div>
      </li>
      <li class="portfolio-item2" data-id="id-3" data-type="cat-item-3">
        <div> <span class="image-block"> <a class="image-zoom" href="images/big/b3.jpg" rel="prettyPhoto[gallery]" title="产品展示"><img width="225" height="140" src="images/thumbs/3.jpg" alt="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" title="jquery相册代码 画廊效果 支持动画切换排序点击放大切换下一张" /> </a> </span>
          <div class="home-portfolio-text">
            <h2 class="post-title-portfolio"><a href="javascript:" rel="bookmark"  title="产品展示">产品展示</a></h2>
            <p class="post-subtitle-portfolio">product</p>
          </div>
        </div>
      </li>
      <div class="column-clear"></div>
    </ul>
    <!--end portfolio-area -->
  </div>
  <!--end portfolio-content -->
</div>
