@{
    ViewBag.Title = "ComplexSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="complexSearch" class="table-form">
    <tr>
        <th colspan="4" align="left" style="height: 30px;">
            <span class="icon-searchall" style="background-position-x: left; padding-left: 20px;">
                复合查询，选择特定字段进行查询</span>
        </th>
    </tr>
</table>
