<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>Flink</directory>
  <name>站外友联</name>
  <author>POP</author>
  <version>V1.0</version>
  <description>只适合V1.0以上版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
      CREATE TABLE {databaseprefix}Flink(
	 
	[id] [nchar](16) NULL,
	[Flinkurl] [nvarchar](500) NULL,
	[Flinkname] [nvarchar](50) NULL,
	[Flinkcode] [nchar](10) NULL,
	[FlinktfCode] [nchar](10) NULL,
	[Flinktfnum] [int] NULL,
	[Flinktfcontent] [nvarchar](3000) NULL,
	[Faddtime] [datetime] NULL,
	[Fupdatetime] [datetime] NULL,
  	[Flinkstat] [int] NULL,
  
      )
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}Flink</sql>
  </uninstall>
  <urls>
    <rewrite name="Flink" type="plugin" page="Flink.aspx" inherit="SPcms.Web.Plugin.Flink.Flink" templet="Flink.html">
      <item path="Flink.aspx" pattern="Flink.aspx" />
      <item path="Flink/{0}.aspx" pattern="Flink/(\w+).aspx" querystring="page=$1" />
    </rewrite>
    <rewrite name="Flink_mobile" type="plugin" page="Flink_mobile.aspx" inherit="SPcms.Web.Plugin.Flink.Flink" templet="Flink_mobile.html">
      <item path="Flink_mobile.aspx" pattern="Flink_mobile.aspx" />
      <item path="Flink_mobile/{0}.aspx" pattern="Flink_mobile/(\w+).aspx" querystring="page=$1" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_Flink" title="站外友联" url="admin/index.aspx" action="Show,View,Delete,Audit,Reply" />
  </menu>
</plugin>