<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>南京永乐光电科技有限公司</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/commen.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>
<script type="text/javascript" src="js/Html5.js"></script>
</head>
<body>
<!--抬头开始-->
<header>
<div id="header" class="clearfix">
	<div class="header">
        <div class="header1 float_l"><a title="南京永乐光电科技有限公司" href="#"><img src="images/q.png" alt="南京永乐光电科技有限公司" border="0"/></a></div>
        <div class="header2 float_r">
            <small class="float_r"><a href="index.html">简体中文</a>&nbsp; | &nbsp;<a href="eindex.html">ENGLISH</a></small>
            <div class="search float_r">
                <input name="keywords" value="" type="text" class="text_box"  onfocus="clearText(this)" onblur="clearText(this)"  />
                <input name="keywords" value="" type="button" class="s_but"/>
                <script language="javascript" type="text/javascript">
                function clearText(field)
                {
                    if (field.defaultValue == field.value) field.value = '';
                    else if (field.value == '') field.value = field.defaultValue;
                }
                </script>
            </div>
        </div>
    </div>
</div>
</header>
<!--抬头结束-->
<div class="clear"></div>
<!--主体-->
<section>
	<!--导航-->
    <div id="nav" class="clearfix">
    	<div class="nav">
            <ul class="clearfix">
                <li><a href="eindex.html">HOME</a></li>
                <li><a href="epage.html">COMPANY</a></li>
                <li><a href="eproduct.html">PRODUCT</a></li>
                <li><a href="enews.html" class="current">NEWS</a></li>
                <li><a href="eproduct.html">HONOR</a></li>
                <li><a href="epage.html">CAREERS</a></li>
                <li><a href="emessage.html">GUESTBOOK</a></li>
                <li class="last"><a href="epage.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>
    <!--导航结束-->
    <!--大图-->
    <div id="nbanner">
    	<div class="www51buycom">
            <ul class="51buypic">
                <li><a href="#" target="_blank"><img src="images/banner.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner2.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner2.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner2.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner.jpg" /></a></li>
                <li><a href="#" target="_blank"><img src="images/banner2.jpg" /></a></li>
            </ul>
            <a class="prev" href="javascript:void(0)"></a>
            <a class="next" href="javascript:void(0)"></a>
        </div>
		<script>
		/*鼠标移过，左右按钮显示*/
		$(".www51buycom").hover(function(){
			$(this).find(".prev,.next").fadeTo("show",0.1);
		},function(){
			$(this).find(".prev,.next").hide();
		})
		/*鼠标移过某个按钮 高亮显示*/
		$(".prev,.next").hover(function(){
			$(this).fadeTo("show",0.7);
		},function(){
			$(this).fadeTo("show",0.1);
		})
		$(".www51buycom").slide({ titCell:".num ul" , mainCell:".51buypic" , effect:"fold", autoPlay:true, delayTime:700 , autoPage:true });
		</script>
        <div class="nmain clearfix">
        	<div class="naside float_l"><h5>PRODUCT</h5></div>
            <div class="nmainbox float_r"><small>Position：<a href="#">Home</a> - News</small></div>
        </div>
    </div>
    <!--大图结束-->
    <div class="clear"></div>
    <div id="nmainbody" class="clearfix">
    	<!--产品分类-->
    	<div class="aside float_l">
        	<ul>
                <li><a href="product.html" class="current">低压无功补偿元器件</a></li>
                <li><a href="product.html">低压无功补偿成套装置</a></li>
                <li><a href="product.html">高压无功补偿元器件</a></li>
                <li><a href="product.html">高压无功补偿成套装置</a></li>
                <li><a href="product.html">有源滤波无功补偿（SVG）</a></li>
                <li><a href="product.html">智能式电力电容器</a></li>
                <li><a href="product.html">电气知识</a></li>
                <li><a href="product.html">真空断路器</a></li>
            </ul>
            <div class="aside2"><img src="images/y.jpg"></div>
        </div>
        <div class="mainbox float_r">
        	<div class="mainbox_2a">
                    <ul class="clearfix">
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>  
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                        <li class="clearfix"><a class="float_l" href="xiangxi.html">&gt;&gt; 热烈庆祝南京万象瑞盈投资管理有限公司...</a><span class="float_r">[2013-10-21]</span></li>
                    </ul>
                </div>
            <div class="clear"></div>
            <!--分页-->
            <div class="sh_page text_c">
                <a href="#">上一页</a>
                <a href="#" class="dangqian">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">.222</a>
                <a href="#">下一页</a>
            </div>
        </div>
    </div>
</section>
<!--主体结束-->
<!--产品展示-->

<div class="clear"></div>
<!--底部-->
<footer>
	<div id="footer">
    	<div class="footer">
    		<p>版权所有：南京永乐光电科技有限公司   苏ICP备123456号<br>电话：025-52777080   电话：025-52777081   地址：南京市江宁区禄口街道蓝天路226号永乐工业园<br>
<a style="border-left:4px solid #ff3300; padding-left:3px;" href="http://www.weblink.cn"  title="南京百度推广">南京百度推广</a> <a href="http://www.weblink.cn" title="南京百度公司">南京百度公司</a> <a href="http://www.weblink.cn" title="南京百度总代理">南京百度总代理</a>提供建站支持</p>
		</div>
    </div>
</footer>
<!--底部结束-->
<!--ui:jxq/style:cyy/code:xcx-->
</body>
</html>
