@model BW.MMS.Model.m_EnergyTypeEntity 
@{
    ViewBag.Title = "用户编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="form">
@Html.HiddenFor(model => model.ID)
<table class="table-form">
    <tr>
        <th>
            名称
        </th>
        <td>
            @Html.TextBoxFor(model => model.vc_EnergyTypeName, new
       {
           @class = "easyui-validatebox",
           style = "width:360px",
           required = "true",
           validType = "length[1,20]"
       })
            <span style="color: Red">*</span>
        </td>
    </tr>
    <tr>
        <th>
            备注
        </th>
        <td colspan="3">
            @Html.TextAreaFor(model => model.vc_Memo, 6, 45, new { })
        </td>
    </tr>
</table>
</form>
