<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Developer>南京北路自动化系统有限责任公司</Developer>
  <SoftID>1016</SoftID>
  <SoftName>矿用机车运输管理系统</SoftName>
  <UserName>
  </UserName>
  <SerialNum>00000-00000-00000-00000-00000</SerialNum>
  <LocalIP>172.21.2.73</LocalIP>
  <Port>9999</Port>
  <MapY>100</MapY>
  <ServerIP>172.21.2.36</ServerIP>
</Configuration>