<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>vote</directory>
  <name>投票</name>
  <author>POP</author>
  <version>V1.0</version>
  <description>只适合V1.0以上版本</description>
  <isload>1</isload>
  <install>
    <sql><![CDATA[
    
     CREATE TABLE [dbo].[dt_vote_infor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vid] [int] NULL,
	[vcontent] [nvarchar](500) NULL,
	[vnum] [int] NULL,
 CONSTRAINT [PK_dt_vote_infor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
CREATE TABLE [dbo].[dt_vote](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NULL,
	[img] [nvarchar](150) NULL,
	[selnum] [int] NULL,
 CONSTRAINT [PK_dt_vote] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
      ]]></sql>
  </install>
  <uninstall>
    <sql>Drop Table {databaseprefix}vote</sql>
  </uninstall>
  <urls>
    <rewrite name="vote" type="plugin" page="vote.aspx" inherit="SPcms.Web.Plugin.Vote.vote" templet="vote.html">
      <item path="vote.aspx" pattern="vote.aspx" />
    </rewrite>
  </urls>
  <menu>
    <nav name="plugin_vote" title="投票管理" url="admin/index.aspx" action="Show,View,Add,Edit,Delete,Audit" />
  </menu>
</plugin>