<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{config.webetitle}</title>
    <meta content="{config.webekeyword}" name="keywords" />
    <meta content="{config.webedescription}" name="description" />
    <link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/commen.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%templateskin%>/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/jquery.superslide.2.1.1.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/Html5.js"></script>
</head>
<body>
    <!--抬头开始-->
    <%template src="_Eheader1.html"%>
    <div id="mainbody">
        <div class="main1 clearfix">
            <!--公司简介-->
            <div class="main1a float_l">
                <div class="lan clearfix">
                    <h5 class="float_l">
                        COMPANY PROFILE</h5>
                    <a class="float_r" href="<%linkurl("econtent","eabout")%>">
                        <img src="<%templateskin%>/images/e.gif"></a></div>
                <div class="main1a_2">
                    <p>
                        <img src="<%templateskin%>/images/w.jpg"><%write get_article_content("eabout","zhaiyao") %></p>
                </div>
            </div>
            <!--新闻-->
            <div class="main1b clearfix float_r ">
                <div class="qqq float_l">
                    <ul class="tab_h_2a">
                        <li class="vary">集团新闻<span><a href="<%linkurl("enews_list","43")%>">+MORE</a></span></li>
                        <li>行业新闻<span><a href="<%linkurl("enews_list","33")%>">+MORE</a></span></li>
                    </ul>
                </div>
                <div class="tab_c_2a float_l">
                    <div class="m clearfix">
                        <div class="m1 float_l">
                         
<%set DataTable articalDtYMpNG=get_article_list("enews",43, 1, "status=0 and is_red=1")%>
<%foreach(DataRow drYMpNG in articalDtYMpNG.Rows)%>
   <img style="width:126px; height:91px" src=" {drYMpNG[img_url]}"></div>
                        <div class="m2 float_r">
                            <h5>
                             {drYMpNG[title]}</h5>
                            <p>
                              {drYMpNG[zhaiyao]}</p>
                        </div>
<%/foreach%>
                    </div>
                    <ul>
<%set DataTable articalDtpeejr=get_article_list("enews", 33,3,"status=0 and is_red=1")%>
<%foreach(DataRow drpeejr in articalDtpeejr.Rows)%>
                        <li class="clearfix"><a class="float_l" href="<%linkurl("news_show",{drpeejr[id]})%>">· {drpeejr[title]}</a><span
                            class="float_r"><%datetostr({drpeejr[add_time]},yyyy-MM-dd)%></span></li>
                      
<%/foreach%>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
				<!--
                $(".tab_c_2a").eq(0).show();
                $(".tab_h_2a li").click(function () {
                    $(this).addClass("vary").siblings("li").removeClass("vary");
                    var varyTab = $(".tab_h_2a li").index(this);
                    $(".tab_c_2a").eq(varyTab).show().siblings(".tab_c_2a").hide();
                });
				-->
            </script>
        </div>
    </div>
    </section>
    <!--主体结束-->
    <!--产品展示-->
    <div id="main2">
        <div class="text_c pa_t">
            <img src="<%templateskin%>/images/r.gif"></div>
        <div class="main2">
            <div id="demo">
                <div id="indemo">
                    <div id="demo1">
                        <ul class="clearfix product1">
                          <%set DataTable articalDtNbkfR=get_article_list("egoods", 0,100, "status=0 and is_red=1")%>
<%foreach(DataRow drNbkfR in articalDtNbkfR.Rows)%>
    <li><a href="<%linkurl("egoods_show",{drNbkfR[id]})%>">
                                <img src="{drNbkfR[img_url]}" /></a><a href="<%linkurl("egoods_show",{drNbkfR[id]})%>">{drNbkfR[title]}</a></li>
<%/foreach%>

                        </ul>
                    </div>
                    <div id="demo2">
                    </div>
                    <script>
                <!--
                        var speed = 50; //数字越大速度越慢
                        var tab = document.getElementById("demo");
                        var tab1 = document.getElementById("demo1");
                        var tab2 = document.getElementById("demo2");
                        tab2.innerHTML = tab1.innerHTML;
                        function Marquee() {
                            if (tab2.offsetWidth - tab.scrollLeft <= 0)
                                tab.scrollLeft -= tab1.offsetWidth
                            else {
                                tab.scrollLeft++;
                            }
                        }
                        var MyMar = setInterval(Marquee, speed);
                        tab.onmouseover = function () {
                            clearInterval(MyMar)
                        };
                        tab.onmouseout = function () {
                            MyMar = setInterval(Marquee, speed)
                        };
                -->
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <!--底部-->
 <%template src="_efoot.html"%>
    <!--底部结束-->
    <!--ui:jxq/style:cyy/code:xcx-->
</body>
</html>