<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{config.webtitle}</title>
    <meta content="{config.webkeyword}" name="keywords" />
    <meta content="{config.webdescription}" name="description" />
    <link media="screen" type="text/css" href="<%templateskin%>/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="{config.webpath}tools/browser_redirect.ashx"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery.KinSlideshow-1.2.1.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/base.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#focusNews").KinSlideshow();
        })
    </script>

<script type="text/javascript" src="/plugins/lineservice/online_js.ashx"></script>

</head>
<body>
    <!--Header-->
    <%template src="_header.html"%>
    <!--/Header-->
    <div class="boxwrap">
        <div class="left710">
            <div class="pad20">
                <!--Focus-->
                <div class="left300">
                    <div id="focusNews" class="ifocus">
                        <%set DataTable focusNews=get_article_list("news", 0, 8, "status=0 and is_slide=1")%>
                        <%foreach(DataRow dr in focusNews.Rows)%>
                        <a title="{dr[title]}" target="_blank" href="<%linkurl("news_show",{dr[id]})%>">
                            <img src="{dr[img_url]}" alt="{dr[title]}" /></a>
                        <%/foreach%>
                    </div>
                </div>
                <!--/Focus-->
                <!--Top News-->
                <div class="right350 icnts">
                    <%set DataTable topNews=get_article_list("news", 0, 2, "status=0 and is_top=1")%>
                    <%loop newsdr1 topNews%>
                    <%if(newsdr1__loop__id==1)%>
                    <h3 class="tit">
                        <a title="{newsdr1[title]}" href="<%linkurl("news_show",{newsdr1[id]})%>">{newsdr1[title]}</a></h3>
                    <%/if%>
                    <%/loop%>
                    <ul class="list">
                        <%set DataTable redNews=get_article_list("news", 0, 8, "status=0 and is_red=1")%>
                        <%loop newsdr11 redNews%>
                        <%if(newsdr11__loop__id<=4)%>
                        <li><span>[<%write get_category_title({strtoint({newsdr11[category_id]})}, "")%>]</span>
                            <a href="<%linkurl("news_show",{newsdr11[id]})%>" title="{newsdr11[title]}">{newsdr11[title]}</a>
                        </li>
                        <%/if%>
                        <%/loop%>
                    </ul>
                    <%loop newsdr2 topNews%>
                    <%if(newsdr2__loop__id==2)%>
                    <h3 class="tit">
                        <a href="<%linkurl("news_show",{newsdr2[id]})%>">{newsdr2[title]}</a></h3>
                    <%/if%>
                    <%/loop%>
                    <ul class="list last">
                        <%loop newsdr12 redNews%>
                        <%if(newsdr12__loop__id>4)%>
                        <li><span>[<%write get_category_title({strtoint({newsdr12[category_id]})}, "")%>]</span>
                            <a href="<%linkurl("news_show",{newsdr12[id]})%>" title="{newsdr12[title]}">{newsdr12[title]}</a>
                        </li>
                        <%/if%>
                        <%/loop%>
                    </ul>
                </div>
                <!--/Top News-->
                <div class="clear">
                </div>
            </div>
            <!--Hot Goods-->
            <div class="clear">
            </div>
            <div class="igoods_box">
                <div class="igoods_list">
                    <dl class="head">
                        <dt>购物商城</dt>
                        <dd>
                            <ul class="sub_nav">
                                <%set DataTable category_list1=get_category_child_list("goods", 0)%>
                                <%loop cdr1 category_list1%>
                                <li class="n<%write cdr1__loop__id%>"><a href="<%linkurl("goods_list",{cdr1[id]})%>">
                                    {cdr1[title]}</a></li>
                                <%/loop%>
                            </ul>
                        </dd>
                    </dl>
                    <ul class="list">
                        <%set DataTable redGoods=get_article_list("goods", 0, 8, "status=0 and is_red=1")%>
                        <%foreach(DataRow dr in redGoods.Rows)%>
                        <li><a class="pic" href="<%linkurl("goods_show",{dr[id]})%>">
                            <img src="{dr[img_url]}" alt="{dr[title]}" /></a>
                            <div class="info">
                                <a class="name" href="<%linkurl("goods_show",{dr[id]})%>">{dr[title]}</a>
                                <div class="price">
                                    <span>价格：</span> <strong>￥{dr[sell_price]}</strong>
                                </div>
                            </div>
                        </li>
                        <%/foreach%>
                    </ul>
                </div>
            </div>
            <!--/Hot Goods-->
        </div>
        <div class="left264">
            <!--Red Download-->
            <div class="idown_list">
                <h3>
                    推荐资源</h3>
                <ul>
                    <%set DataTable redDown}=get_article_list("down", 0, 5, "is_red=1 and img_url<>''")%>
                    <%foreach(DataRow dr in redDown.Rows)%>
                    <li><a href="<%linkurl("down_show",{dr[id]})%>">
                        <img border="0" alt="{dr[title]}" src="{dr[img_url]}" />
                    </a><a href="<%linkurl("down_show",{dr[id]})%>">{dr[title]}</a>
                        <br />
                        <span class="date">更新：<%datetostr({dr[add_time]},yyyy-MM-dd)%></span>
                        <br />
                        <a class="down" href="<%linkurl("down_show",{dr[id]})%>">下载</a> </li>
                    <%/foreach%>
                </ul>
            </div>
            <!--/Red Download-->
            <!--Hot Goods-->
            <div class="isidebar">
                <h3>
                    热门商品</h3>
                <div class="list">
                    <ol>
                        <%set DataTable hotGoods=get_article_list("goods", 0, 10, "status=0 and is_hot=1", "click desc,id desc")%>
                        <%loop goodsdr2 hotGoods%>
                        <%if(goodsdr2__loop__id==1)%>
                        <li class="active" onmouseover="ToggleProps(this, 'active');">
                            <%else%>
                            <li onmousemove="ToggleProps(this, 'active');">
                                <%/if%>
                                <i class="num">
                                    <%write goodsdr2__loop__id%></i>
                                <div class="photo">
                                    <a title="{goodsdr2[title]}" href="<%linkurl("goods_show",{goodsdr2[id]})%>">
                                        <img src="{goodsdr2[img_url]}" alt="{goodsdr2[title]}"></a>
                                </div>
                                <div class="props">
                                    <p class="name">
                                        <a title="{goodsdr2[title]}" href="<%linkurl("goods_show",{goodsdr2[id]})%>">{goodsdr2[title]}</a></p>
                                    <p class="price">
                                        ¥{goodsdr2[sell_price]}</p>
                                    <p class="button">
                                        <a class="ibtn" href="<%linkurl("goods_show",{goodsdr2[id]})%>">立即购买</a></p>
                                </div>
                            </li>
                            <%/loop%>
                    </ol>
                </div>
            </div>
            <!--Hot Goods-->
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="boxwrap" style="border-top: 0;">
        <!--Red Photo-->
        <div class="iphoto_list">
            <dl class="head">
                <dt>图片分享</dt>
                <dd>
                    <ul class="sub_nav">
                        <%set DataTable category_list2=get_category_child_list("photo", 0)%>
                        <%loop cdr2 category_list2%>
                        <li class="n<%write cdr2__loop__id%>"><a href="<%linkurl("photo_list",{cdr2[id]})%>">
                            {cdr2[title]}</a></li>
                        <%/loop%>
                    </ul>
                </dd>
            </dl>
            <div class="clear">
            </div>
            <div class="list">
                <ul>
                    <%set DataTable redPhoto=get_article_list("photo", 0, 12, "status=0 and is_red=1")%>
                    <%loop photodr1 redPhoto%>
                    <li class="a<%write photodr1__loop__id%>">
                        <img src="{photodr1[img_url]}" alt="{photodr1[title]}" />
                        <a title="{photodr1[title]}" href="<%linkurl("photo_show",{photodr1[id]})%>"><strong>
                            {photodr1[title]}</strong><br>
                            <span>
                                <%cutstring({photodr1[zhaiyao]},28)%></span><br>
                            查看详情</a><i class="absbg"></i> </li>
                    <%/loop%>
                </ul>
            </div>
        </div>
        <!--/Red Photo-->
        <!--Links-->
        <div class="ilink_list">
            <h3>
                <span class="graylink"><a href="<%linkurl("link")%>">更多...</a></span>友情链接</h3>
            <p class="txt">
                <%set DataTable linkList1=get_plugin_method("SPcms.Web.Plugin.Link", "link", "get_link_list", 0, "is_lock=0 and is_image=0 and is_red=1")%>
                <%foreach(DataRow dr in linkList1.Rows)%>
                <a target="_blank" href="{dr[site_url]}">{dr[title]}</a> |
                <%/foreach%>
            </p>
            <div class="img">
                <ul>
                    <%set DataTable linkList2=get_plugin_method("SPcms.Web.Plugin.Link", "link", "get_link_list", 9, "is_lock=0 and is_image=1 and is_red=1")%>
                    <%foreach(DataRow dr in linkList2.Rows)%>
                    <li><a target="_blank" href="{dr[site_url]}" title="{dr[title]}">
                        <img src="{dr[img_url]}" width="88" height="31" /></a></li>
                    <%/foreach%>
                </ul>
                <div class="clear">
                </div>
            </div>
        </div>
        <!--/Links-->
    </div>
    <!--Footer-->
    <%template src="_footer.html"%>
    <!--/Footer-->
</body>
</html>
