@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#type').combobox({
            valueField: 'value',
            textField: 'text',
            data: [{
                text: '部门',
                value: 'dept'
            }, {
                text: '区域',
                value: 'area'
            }],
            onSelect: function (record) {
                $('#typedata').combotree('clear');
                if (record.value == 'dept') {
                    $('#typedata').combotree('reload', '@Url.Action("GetDeptItem", "Dept")');
                }
                else {
                    $('#typedata').combotree('reload', '@Url.Action("GetAreaList", "Area")');
                }
            }
        });
        load();
    });

    function load() {
        var param = {};
        var type = $('#type').combobox('getValue');
        param['type'] = type == '' ? 1 : type == 'dept' ? 1 : 2;
        param['where'] = $('#typedata').combotree('getValue');
        $.ajax({
            url: '@Url.Action("GetSeries")',
            type: "POST",
            async: false,
            data: param,
            datatype: "json",
            success: function (data, textStatus) {
                data = JSON.parse(data);
                var xAxis = new Array();
                var production = [];
                var wind = [];
                var water = [];
                var power = [];
                for (var i = 0; i < data.length; i++) {
                    xAxis[i] = data[i].vc_Name;
                    production.push(data[i].Production);
                    wind.push(data[i].Wind);
                    water.push(data[i].Water);
                    power.push(data[i].Power);
                }
                $('#container').highcharts({
                    chart: {
                        type: 'column'
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: formatDate(new Date(), 'yyyy-MM-dd')
                    },
                    subtitle: {
                        text: '产量与能耗'
                    },
                    xAxis: {
                        categories: xAxis
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: '产量(T)',
                        data: production

                    }, {
                        name: '风量(㎥)',
                        data: wind

                    }, {
                        name: '水量(㎥)',
                        data: water

                    }, {
                        name: '电量(kW‧h)',
                        data: power
                    }]
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                TopWindow.$.messager.alert("提示", XMLHttpRequest.responseText, "error");
            }
        });
    }
</script>
<div class="easyui-panel" data-options="fit:true" style="overflow: hidden;">
    <div class="datagrid-toolbar panel-header search">
        <span>类型：</span><input id="type" />&nbsp;&nbsp; <span>单位/区域：</span><input id="typedata"
            class="easyui-combotree" />
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="load();">
            查询</a>
    </div>
    <div id="container">
    </div>
</div>
