<?xml version="1.0" encoding="utf-8"?>
<plugin>
  <directory>baseback</directory>
  <name>数据库维护</name>
  <author>POP</author>
  <version>V1.0</version>
  <description>只适合V1.0以上版本</description>
  <isload>1</isload>
  <install />
  <uninstall />
  <urls />
  <menu>
    <nav name="plugin_baseback" title="数据库维护" url="admin/index.aspx" action="Show,View,Delete,Back,Restore,Replace" />
  </menu>
</plugin>