
<link href="/templates/sys/对联广告_全屏/css/duilian.css" rel="stylesheet" type="text/css" />


<div class="duilian duilian_left">
	<div class="duilian_con"><img src="/templates/sys/对联广告_全屏/img/1.jpg" width="109" height="301" /></div>
    <a href="#" class="duilian_close">X关闭</a>
</div>
<div class="duilian duilian_right">
	<div class="duilian_con"><img src="/templates/sys/对联广告_全屏/img/1.jpg" width="109" height="301" /></div>
	<a href="#" class="duilian_close">X关闭</a>
</div>
<p style="height:1000px;"></p>
<script src="/templates/sys/对联广告_全屏/js/duilian.js" type="text/javascript"></script>
