<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>南京首屏科技有限公司</webname>
  <webename>Nanjing first screen technology Co., Ltd.</webename>
  <remoturl>localhost:3448</remoturl>
  <weburl>http://www.weblink.cn</weburl>
  <weblogo />
  <webcompany>南京首屏科技有限公司</webcompany>
  <webaddress>南京市军农路南工院</webaddress>
  <webtel>025-68158005</webtel>
  <webfax>025-68158222</webfax>
  <webmail>shiyuanqing@weblink.cn</webmail>
  <webcrod>苏ICP备111111号</webcrod>
  <webtitle>南京百度,南京百度推广,南京百度公司,南京百度官方网站</webtitle>
  <webkeyword>南京百度,南京百度推广,南京百度公司,南京百度总代理</webkeyword>
  <webdescription>南京首屏科技有限公司是百度南京唯一授权南京百度总代理,南京百度推广客户服务中心,为南京企业提供百度推广百度网盟推广百度品牌推广等网络推广服务以及南京网站建设手机网站建设APP制作等服务!</webdescription>
  <webetitle>nanjingbaidu,nanjingbaidutuiguan</webetitle>
  <webekeyword>nanjingbaidu</webekeyword>
  <webedescription>Nanjing first screen technology Co. Ltd is the only authorized Baidu Nanjing Nanjing Baidu general agent, Nanjing Baidu promotion customer service center, provide Baidu promotion Baidu Wangmeng promotion Baidu brand promotion network promotion service and construction sites in Nanjing mobile phone website APP production services for Nanjing enterprises!</webedescription>
  <webcopyright>版权所有 首屏科技 © Copyright 2004 - 2014. weblink.cn. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>Netadmin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <mobilestatus>1</mobilestatus>
  <mobiledomain>m.weblink.cn</mobiledomain>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <Bilingualstat>1</Bilingualstat>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script type="text/javascript"&gt;
                        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F023bba768be046d7d5180f3867f9cfec' type='text/javascript'%3E%3C/script%3E"));
                    &lt;/script&gt;</webcountcode>
  <smsapiurl>http://weblink.cn/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.126.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>spjsbtest@126.com</emailfrom>
  <emailusername>spjsbtest</emailusername>
  <emailpassword>C12889F7A21A4B7060C21402C1A23D37</emailpassword>
  <emailnickname>首屏科技</emailnickname>
  <filepath>upload1</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>首屏科技</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>SPcms</sysencryptstring>
</siteconfig>