<link rel="stylesheet" type="text/css" href="/templates/sys/相册_有缩略图_鼠标悬浮清晰/css/xcxf.css">

<div id="tbodyddd">
    <div id="mainbody">
      <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/img/01.jpg" alt="相册" width="640" height="384" id="mainphoto" rel="img/01.jpg" name="http://www.lanrentuku.com" />
    </div>
    <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/img/goleft.gif" width="11" height="56" id="goleft" />
    <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/img/goright.gif" width="11" height="56" id="goright" />
    <div id="photos">
      <div id="showArea">
        <!--
          SRC: 缩略图地址
          REL: 大图地址
          NAME: 网址
        -->
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/img/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/02.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
        <img src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" alt="相册" width="80" height="50" rel="/templates/sys/相册_有缩略图_鼠标悬浮清晰/iimg/01.jpg" name="#" />
     
      </div>
    </div>
</div>
<script language="javascript" type="text/javascript" src="/templates/sys/相册_有缩略图_鼠标悬浮清晰/js/photos.js"></script>